/*
    FlashLife [FR-V2]
    -----------------

    HTML créer par Nishikoto__ et KLF_francky
    Site web créer par Nishikoto__ et KLF_francky
*/

/* -- Body -- */

body {
    background-color: #272727;
    width: 1024px;
    margin: auto;
    color: white;
    margin-bottom: 20px;
}
/* -- Header -- */
header{
    display: inline block;
}

/* -- NAV -- */

nav{
    text-align: center;
    display: inline-block;
    float: right;
    margin-right: 400px;
}
nav a{
    font-weight: bold;
    color: white;
    padding: 10px;
}

.logoapp{
    width: 150px;
}

/* -- Footer -- */

footer {
    text-align: center;
}

/* -- Page Join -- */

h1 {
    text-align: center;
}

/* -- page descriptif page join -- */
.description
{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.05em;
}


/* --Bouton page join-- */
.btn
{
    width: 150px;
    border: 1px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: auto;
    color: #fff;

}
/* --lien serv --*/
.textbtn
{
    color: #fff;
}
.gesix{
    color: rgb(255, 0, 0);
}
.antrax{
    color: rgb(255, 81, 0);
}
.kevin{
    color: rgb(255, 174, 0);
}
.nono{
    color: rgb(255, 230, 0);
}
.macdo{
    color: rgb(208, 255, 0);
}
.exan{
    color: rgb(43, 255, 0);
}
.steve{
    color: rgb(0, 255, 200);
}
.nishi{
    color: rgb(0, 225, 255);
}
.franck{
    color: rgb(0, 89, 255);
}
.fl{
    color: rgb(250, 93, 87);
    font-weight: bold;
}
.lf{
    color: rgb(87, 93, 248);
    font-weight: bold;
}